
.info, .success, .warning, .error, .validation {
-fx-border-width: 1.0px;
-fx-border-style: solid;
-fx-padding:15.0px 10.0px 15.0px 50.0px;
-fx-background-repeat: no-repeat;
}
.info {
-fx-color: #00529B;
-fx-background-color: #BDE5F8;
-fx-background-image: url('info.png');
}
.success {
-fx-color: #4F8A10;
-fx-background-color: #DFF2BF;
-fx-background-image:url('success.png');
}
.warning {
-fx-color: #9F6000;
-fx-background-color: #FEEFB3;
-fx-background-image: url('warning.png');
}
.error {
-fx-color: #D8000C;
-fx-background-color: #FFBABA;
-fx-background-image: url('error.png');
}